files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID9zCCAt8CFHbmFxC/NL5MWrMYxUuY/G3sNux0MA0GCSqGSIb3DQEBCwUAMIG3
      MQswCQYDVQQGEwJFQzEOMAwGA1UECAwFQXp1YXkxDzANBgNVBAcMBkN1ZW5jYTEL
      MAkGA1UECgwCTkExCzAJBgNVBAsMAk5BMUYwRAYDVQQDDD13d3cuY2l0YWRvYy1l
      bnYtMS5lYmEtdGVyZTJ0ejUuc2EtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29t
      MSUwIwYJKoZIhvcNAQkBFhZyYWxleGplc3NpZWxAZ21haWwuY29tMB4XDTIyMDEx
      MjA2NDUxN1oXDTIzMDExMjA2NDUxN1owgbcxCzAJBgNVBAYTAkVDMQ4wDAYDVQQI
      DAVBenVheTEPMA0GA1UEBwwGQ3VlbmNhMQswCQYDVQQKDAJOQTELMAkGA1UECwwC
      TkExRjBEBgNVBAMMPXd3dy5jaXRhZG9jLWVudi0xLmViYS10ZXJlMnR6NS5zYS1l
      YXN0LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xJTAjBgkqhkiG9w0BCQEWFnJhbGV4
      amVzc2llbEBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQDRHlwvRusJscqff4X1o2iPd1VsMHtbeDOcbY/V/uGwECG/TiiE3Dzd2SzI9kOM
      rjSfStMvOsvnvKiFvncYVUQZHRektVr+YezlURZwL9kh82Ya+KUSccM+7bTRDkJ2
      W5+IZFTedhn9MzyO+i5+oeEab2fXJOTvl7yomYt1Cb00tR/RLtEoD0cekNtFTGWj
      l7O8DvFgpvkHDQJkIfy9BN0grnk7bA+GgkE1jr+Mju0Q47NkdVnvd4YUY4YmCZGc
      i9tEbNroNRqTtflzq/cCBSCKmWnMqLb3Mt1Dvl9w7YMsOJ1wSO+sdWOvG2DrnBup
      vuZ0tHP9WlAG4AxM7DmlS/QZAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAEZGjazJ
      WE7pzJ1p66i9wEjkPlXdunh2tz0mRdiZcXCAHQZjgzD3MILdlgEgXmdCJcUiTN9D
      +KYArUoJ1vGiUNOX1pOCyeEOoCcdO4OkqItiyO5oWiErWGJfAFNqLqZu5bRv67FZ
      I4uoc2oL61PzAND0wbXh2TOuBbAXfUZ7vC1UvlPooNnsGk/bAF7nAb/GCTgLlryS
      5H3gfHruMhAfXxT7FyxNRm25AlwB3r4R+5e6t23t/BfW1rxaCqOFYGjB96bQDLgd
      X47zoqE6wlzbSMzisMq6HeHOVIHes/fAH6iefuQqaKGldcXS8qdGJk63vASQAB9a
      lnIFdBE9Pn/uSBE=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDRHlwvRusJscqf
      f4X1o2iPd1VsMHtbeDOcbY/V/uGwECG/TiiE3Dzd2SzI9kOMrjSfStMvOsvnvKiF
      vncYVUQZHRektVr+YezlURZwL9kh82Ya+KUSccM+7bTRDkJ2W5+IZFTedhn9MzyO
      +i5+oeEab2fXJOTvl7yomYt1Cb00tR/RLtEoD0cekNtFTGWjl7O8DvFgpvkHDQJk
      Ify9BN0grnk7bA+GgkE1jr+Mju0Q47NkdVnvd4YUY4YmCZGci9tEbNroNRqTtflz
      q/cCBSCKmWnMqLb3Mt1Dvl9w7YMsOJ1wSO+sdWOvG2DrnBupvuZ0tHP9WlAG4AxM
      7DmlS/QZAgMBAAECggEADm6k+BJR6FJf5JAdg61qavRWbegOq2ppTXN2SNOVadxD
      J/vR6hF1Fe6GG7x7PvtK4G9+kbTiG7U2gDx75a8EyyLp3dEyXXoOqmjlPore1mwA
      8P2WDubRDcfEAeWVCqwaH4SlItFNy968YDW9/blYWsWzifKe5jY3q/8k08f/SeLS
      OU6/tBQ2v1PYu4U/QbY6ZW4XdFrp3mgRrlvnHOYcJzei6x4WAHHVazBG7Qjo7ZPJ
      uoJq6Vs5J2jq0NNNMcgk/iL28Muq85vZnRzy+kz01uDq6bnO5DmOkaGxf4lxBVnV
      wLSozGzo8nPaIX1Q46PFyYaZnVDdPc7x0jKIDAM6vQKBgQDanKjX2QZpC+W2v/91
      Bl7WNaBeVf298xA1QVqAcrjxI96gL4Y20BMOhfZ4Stnk/eo0WL+MUAE3hRovfjh6
      kDwa1zGifvjnGYmlGihVA2lHY/Q9VIigXsRfVfZyZXcuHWzEg/oSsKbFFdSSjutr
      rBqm7Bi4r4U5sNBRQqiUyGb9fwKBgQD04g8rsS7bCuF5kbJvg0WmlhUY0VyGkFch
      Gv321u8YdNCh7rEzwFk+vYkaaYGHK1QYTPYTl8HIKAt2Xaol/FTNQkZPO/pG4BBM
      0vHwteHMJHOasFgzO6O1C9IMyLwWhuimk09mkoxgfQt06lVtbqIvubcBNZSlNkxt
      JqhDposKZwKBgQCkrwNapzj3BWllRDnTFJt4zykiJ7Fg2KxLEhJ1VPcRYS4iieqX
      fCP++tfzQp/mq4k1Ke4Sa2qfQnu5b2JooiNFLPtNKE2k+k4AvDXJ5Sn4B8pEMVxD
      Q2C3WPCwuNMRQEVhvPI0BjN7oLhkN5oNoLbrLExrRH4eOZ6UuJx6iIVdTQKBgCkQ
      l5auGbtlsbXfNtr4Wn+6/0KwKSHvpozIp/nyxRmGzU26Z0DUaqLYydsCAlSWcX25
      ujJC6p4UCQgKYPQJwnbBPGUhG7Ey9cjMPwIsnfbLzg8Mr124DJXZq5m1N8VXTkBQ
      x6ndvWiYz4kFmtnFCbGTJRswzwJ9fod3ShQ+I2bVAoGAL63yiic89VeNlM84B84G
      q4G6M5h7XFWr172sAb5FmSg2fNz21RSHMsIkxTkyfWIbZvQISY5P0hzHpXiEaS+j
      K/7pGvB/Bfi7cen/ul5oB+p0b5HIgUvhayk88nQH1Dyqj3jNKgBSGnfbVDAWj12/
      yWorzHpE2G+yyY+M1BTzwXc=
      -----END PRIVATE KEY-----